.container {
  display: flex;
  align-items: center;
  margin: 4px 0px;
  padding: 4px;
  min-width: 300px;
}

.containerhover {
  border: 1px solid #1a1a18;
  border-radius: 8px;
}
.containerhover:hover {
  border-color: #fbc02d;
  background-color: #fbc02d;
  color: black;
}
.containerhover:active {
  border-color: #1a1a18;
  background-color: inherit;
  color: inherit;
}

.avatar {
  border-radius: 4px;
}

.name {
  margin-left: 16px;
  flex: 1;
}

.extras {
  margin: 4px;
  margin-right: 8px;
}
